.delete_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

.delete_content {
  background: white;
  border-radius: 12px;
  padding: 12px;
  gap: 8px;
}

.delete_buttons {
  display: flex;
  justify-content: space-between;
}

.delete_header {
  font-size: 18px;
}

.delete_button {
  margin: 8px;
  background-color: rgb(245, 245, 247);
  display: flex;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

.delete_button:hover {
  background-color: rgb(217, 216, 216);
}

.delete_button:active {
  background-color: rgb(0, 110, 219);
  color: white;
}