.auth_wrapper {
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_content {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    gap: 8px;
    width: 210px;
}

.auth_button {
    margin-top: 8px;
    background-color: rgb(245, 245, 247);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.auth_button:hover {
    background-color: rgb(217, 216, 216);
}

.auth_button:active {
    background-color: rgb(0, 110, 219);
    color: white;
}

.auth_change {
    cursor: pointer;
}

.auth_input {
    background-color: rgb(245, 245, 247);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.auth_header {
    margin-bottom: 8px;
}